body {
  height: 100vh;
  width: 800px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgBGdCTq5BjFn99PInIzrh5vtkDHn1zv9ZqA&s);
  background-repeat: no-repeat;
  background-size: cover;
}
nav span {
  margin-left: 4%;
  height: 20px;
  margin-top: 20px;
  font-size: 25px;
}
nav {
  display: flex;
  height: 50px;
}
a {
  text-decoration: none;
  text-align: end;
  margin-left: px;
  justify-content: space-between;
}
.ssss {
  color: blue;
}
.ali1 {
  height: 625px;
  width: 1200px;
  background-color: aliceblue;
  justify-content: center;
  position: relative;
  left: 10%;
}
button {
  position: relative;
  left: 5%;
  padding: 10px;
  background-image: linear-gradient(
    to left,
    rgb(250, 49, 49),
    rgb(230, 11, 238)
  );
  width: 100px;
}
.perant {
  background-color: rgb(182, 182, 180);
  height: 60%;
  width: 100%;
}
.a {
  margin-left: 55%;
  margin-top: 20px;
  display: flex;
}
h1 {
  color: black;
  font-size: 2rem;
}
.span {
  font-size: 20px;
}
img {
  margin-left: 80%;
  position: relative;
  bottom: 200px;
}
.aaaa {
  background-image: linear-gradient(
    to left,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
}
.qwer {
  height: 300px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 30%;
  bottom: 300px;
  display: flex ;
}
.rewq {
  position: relative;
  top: 10%;
  right: 75%;
}
.text3 {
  position: relative;
  right: 300px;
}
.top {
  background-color: white;
}
.top H1 {
  margin-left: 20px;
}
.top P {
  margin-left: 20;
}
.WSXC {
  height: 30px;
  width: 300px;
  justify-content: end;
  margin-left: 300px;
}
.qa {
  width: 100px;
  height: 100px;
  background-color: brown;
}
.qs {
  width: 100px;
  height: 100px;
  background-color: black;
}
.qw {
  width: 100px;
  height: 100px;
  background-color: blue;
}
.qe {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
}
.na {
  margin-left: 80%;
  position: relative;
  bottom: 100px;
}
.nb {
  margin-left: 90%;
  position: relative;
  bottom: 270px;
}
